@import "vars";
@import "mixins";

$transition-timing: cubic-bezier(0.4, 0, 0.2, 1);

html {
	background-color: $color-content-background;
	transition: background-color 0.2s $transition-timing;

	&.dark {
		background-color: $color-text-main;
	}

	&.force-no-animation {
		transition: none;

		* {
			transition: none;
		}
	}
}

header {
	position: fixed;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	top: 0px;
	left: 0px;
	height: 56px;
	width: 100%;
	background-color: $color-primary-dark;
	box-shadow: 0px 4px $color-drop-shadow;
	color: white;
	margin: 0;
	padding: 0 2rem;
	transition: background-color 0.2s $transition-timing, box-shadow .2s $transition-timing;

	.dark & {
		background-color: $color-primary-vdark;
		box-shadow: 0px 4px $color-drop-shadow-dark;
	}

	h1 {
		flex-grow: 1;
		font-weight: lighter;
		font-size: 1.5rem;
		margin: 0;
		padding: 0;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}
	
	a,
	a:hover {
		color: $color-white;
		text-decoration: none;
	}

	dttw-icon.material-icons {
		font-size: 24px;
		display: block;
		border-radius: 50%;
		flex-grow: 0;
		flex-shrink: 0;
		padding: 5px;
		cursor: pointer;
		user-select: none;
		-webkit-tap-highlight-color: rgba(0,0,0,0);
		-webkit-tap-highlight-color: transparent;
		margin: 0px .4em;

		&:active {
			background-color: rgba(0, 0, 0, 0.1);
			color: darken(white, 10%);
		}
	}
}

main {
	background-color: white;
	width: 80ch;
	max-width: 100%;
	margin: 5rem auto 2rem;
	box-shadow: 0px 4px $color-drop-shadow;
	transition: background-color 0.2s $transition-timing, box-shadow .2s $transition-timing;

	input[type=text] {
		width: 100%;
		border: none;
		padding: .8em;
		transition: color 0.2s $transition-timing, border-color 0.2s $transition-timing;
		font-family: inherit;

		&#title {
			font-size: 1.4em;
			border-bottom: 1px solid $color-divider;
			position: relative;
			z-index: 6;
		}

		&#tags {
			font-size: .8em;
			border-top: 1px solid $color-divider;
			border-bottom: 1px solid $color-divider;
		}
	}

	.dark & {
		background-color: #2F3129;
		box-shadow: 0px 4px $color-drop-shadow-dark;

		input#title,
		input#tags {
			border-color: $color-divider-dark;
		}

		&>input {
			color: $color-white;
		}
	}

	footer {
		width: 100%;
		padding: 1em;
		text-align: right;

		#status {
			float: left;
			margin: .4em 0px;
			color: $color-text-secondary;
			font-style: italic;
		}
	}
}

#editor {
	width: 100%;
	height: 50%;
}

.ace_editor * {
	transition: color 0.2s $transition-timing, background 0.2s $transition-timing, border 0.2s $transition-timing;
}

button {
	@extend %shadowed;

	display: inline-block;
	background-color: #4CAF50;
	border: none;
	color: $color-white;
	padding: 0.4em 1em;
	font-size: 1em;
	text-transform: uppercase;
	transition: all 0.2s $transition-timing;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
	font-family: inherit;
	outline: none;

	&:hover, &:active {
		color: $color-white;
	}

	&:hover {
		background-color: #43A047;
	}

	&:active {
		background-color: #2E7D32;
	}
}

.post {
	height: 4em;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	color: $color-text-main;
	transition: all 200ms $transition-timing;

	.dark & {
		color: $color-white;
	}

	&:not(:last-child) {
		border-bottom: 1px solid $color-divider;

		.dark & {
			border-bottom-color: $color-divider-dark;
		}
	}

	.status-bar {
		width: 1em;
		height: 100%;
		background: $color-primary;
		margin-right: 1em;
		flex-shrink: 0;

		&.visible {
			background: #4CAF50;
		}
	}

	.author-image {
		margin-right: 1em;
		flex-shrink: 0;
	}

	.title {
		flex-grow: 1;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}

	#view,
	#edit {
		font-size: 24px;
		margin-left: .4em;
		color: $color-text-main;
		transition: color 200ms $transition-timing;
		flex-shrink: 0;

		.dark & {
			color: $color-white;
		}
	}

	#edit {
		margin-right: .4em;
	}
}

@media only screen and (max-device-width: $width-small) {
	body {
		display: flex;
		flex-flow: column nowrap;
	}

	header {
		position: relative;
		height: 8rem;

		&>h1 {
			font-size: 4rem;
		}
	}

	#theme-switcher {
		font-size: 4rem;
		padding: 1rem;
	}

	main {
		display: flex;
		flex-flow: column nowrap;
		flex-grow: 1;
		margin: 0;
		box-shadow: none;
		width: 100%;
		height: auto;

		&>input {
			font-size: 3rem;
			padding: 2rem;
		}

		&>#title {
			padding-top: 2.5rem;
			border-bottom: white;
		}

		&.dark #submit:active {
			background-color: rgba(255, 255, 255, 0.1);
		}
	}

	#editor {
		flex-grow: 1;
		height: auto;
		font-size: 2.5rem;
	}

	#submit {
		display: block;
		box-shadow: none;
		background-color: transparent;
		color: #2196F3;
		font-size: 3rem;
		padding: 1rem 0;
		width: 100%;
		font-weight: bold;

		&:hover,
		&:active {
			color: #2196F3;
			box-shadow: none;
		}

		&:hover {
			background-color: transparent;
		}

		&:active {
			background-color: rgba(0, 0, 0, 0.1);
		}
	}
}

input[type="checkbox"] {
	display: none;

	& + label{
		@extend %no-select;
		cursor: pointer;

		.dark & {
			color: $color-white;
		}

		&:after {
			font-family: 'Material Icons';
			font-weight: normal;
			font-style: normal;
			font-size: 24px;
			line-height: 1;
			letter-spacing: normal;
			text-transform: none;
			display: inline-block;
			white-space: nowrap;
			word-wrap: normal;
			direction: ltr;
			-webkit-font-feature-settings: 'liga';
			-webkit-font-smoothing: antialiased;
			content: "check_box_outline_blank";
			vertical-align: middle;
			margin: 0px .4em 0px .2em;
		}
	}

	&:checked + label:after {
		content: "check_box";
	}
}