@import "vars";
@media (max-width: $width-small) {
	content-row>aside {
		display: none;
	}
	content-row {
		display: block;
		overflow-wrap: break-word;
	}

	html:not(.admin)>body>header {
		flex-direction: column;

		&>* {
			width: 100%;
		}

		&>a {
			padding: 0px;
			justify-content: center;
			
			h1 {
				width: auto;
			}

			&:after {
				display: none;
			}
		}
		
		nav {
			padding: 0px;
			justify-content: center;
			border-bottom-color: $color-text-main;
			width: 100%;
			margin-left: 0px;
		}
	}
	
	content-row main article .author-image {
		display: none;
	}
}
