@function sqrt($in) {
	$r: strip-units($in);
	$x0: 1; // initial value
	$solution: false;

	@for $i from 1 through 10 {
		@if abs(2 * $x0) < 0,00000000000001 { // Don't want to divide by a number smaller than this
			$solution: false;
		}

		$x1: $x0 - ($x0 * $x0 - abs($r)) / (2 * $x0) !global;

		@if ( abs($x1 - $x0) / abs($x1)) < 0,0000001 { // 7 digit accuracy is desired
			$solution: true;
		}

		$x0: $x1;
	}

	@if $solution == true {
		@return set-units($x1, $in);
	}
	@else {
		@return "No solution";
	}
}

@function strip-units($number) {
	@return $number / ($number * 0 + 1);
}

@function set-units($number, $units) {
	@return strip-units($number) * ($units * 0 + 1);
}

%shadowed {
	box-shadow: 0px 4px $color-drop-shadow;
	
	.dark & {
		box-shadow: 0px 4px $color-drop-shadow-dark;
	}
}

%no-select {
	user-select: none;
}