@import "vars";
@import "mixins";
@import "highlight.scss";

*,
*:before,
*:after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-family: $font-body;
	background: $color-page-background;
	color: $color-text-main;
	margin: 0px;
	padding: 0px;
}

body {
	margin: 0px;
	padding: 0px;
}

html:not(.admin)>body>header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin: 0px 0px 1.4em;
	padding-top: 1em;

	&>* {
		flex-grow: 1;
	}

	&>a {
		display: flex;
		justify-content: flex-end;
		border-bottom: $wire-width solid $color-primary;
		position: relative;
		padding-right: 1em;
		height: 6em;

		h1 {
			font-family: $font-header;
			text-transform: uppercase;
			display: flex;
			justify-content: flex-end;
			align-items: center;
			font-size: 4em;
			margin: -16px 0px;
			width: 6em;

			.down,
			.wire {
				padding-top: .2em;
			}

			.to-the {
				font-size: .6em;
				border-top: .15em solid currentcolor;
				border-bottom: .15em solid currentcolor;
				margin: 0px .2em;
				line-height: 1;
				padding-top: .1em;
				margin-top: .2em;
			}
		}

		&:after {
			content: "";
			width: 0px;
			height: 2em;
			position: absolute;
			right: 0px;
			bottom: -$wire-width;
			transform: rotate(45deg);
			transform-origin: bottom right;
			border-right: $wire-width solid $color-primary;
		}
	}

	nav {
		margin-left: calc(1.414em - #{set-units(sqrt($wire-width*$wire-width / 2), $wire-width)});
		padding-left: 4em;
		flex-shrink: 1;
		width: calc(80ch + 256px - 25em);
		display: flex;
		flex-direction: row;
		text-transform: uppercase;
		border-bottom: $wire-width solid $color-primary;
		height: calc(3.172em + #{2 * ($wire-width - set-units(sqrt($wire-width*$wire-width / 2), $wire-width))});
		align-items: flex-end;

		a {
			@extend .no-display;
			@extend .no-line;

			.nav-item {
				font-family: $font-header;
				padding-right: 1em;
				font-size: 1.4em;
			}
		}
	}
}

content-row {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: center;

	main {
		max-width: 80ch;
		margin: 0px 1em;
		flex-basis: 0px;
		flex-grow: 1;

		.tagged {
			font-size: 30px;
			font-weight: bold;
			margin-bottom: 10px;
		}

		article {
			@extend %shadowed;

			padding: 1em 1em .6em;
			background: $color-content-background;
			margin-bottom: 2em;

			&:last-child {
				margin-bottom: 0px;
			}

			&>h1 {
				@extend %shadowed;

				font-weight: 300;
				background: $color-primary;
				margin: -1 / 1.6 * 1em -1 / 1.6 * 1em 0px;
				font-size: 1.6em;
				padding: .2em .4em .2em 1em;
				position: relative;
				text-indent: -.4em;
				color: $color-white;

				&:before {
					content: "";
					width: 0;
					height: 0;
					border: 8px solid $color-page-background;
					position: absolute;
					right: 0px;
					top: 0px;
					border-bottom-color: transparent;
					border-left-color: transparent;
				}

				&.large {
					height: 88px;
					vertical-align: baseline;

					div.author {
						position: absolute;
						top: 8px;
						right: 8px;
						margin: 0;
						size: 14px;
					}

					.subtext {
						display: block;
						width: calc(100% - 80px);
						height: 100%;
						font-size: 1.28em;
					}
				}
			}

			time {
				@extend %shadowed;

				display: inline-block;
				margin: 0px -1 / .8 * 1em 1.6em;
				padding: .6em 1.6em 0em;
				font-size: .8em;
				background: $color-primary-dark;
				font-weight: 400;
				color: $color-white;
				height: 2.4em;
				position: relative;

				&:before {
					content: "";
					width: 0px;
					height: calc(2.4em + 4px);
					border: 1.2em solid transparent;
					position: absolute;
					bottom: calc(-1.2em - 4px);
					right: 0px;
					border-right-color: $color-content-background;
				}

				&:after {
					content: "";
					width: 1.2em;
					height: 0em;
					position: absolute;
					right: 0px;
					top: 100%;
					transform: skewY(-45deg);
					transform-origin: bottom left;
					border-bottom: 4px solid $color-drop-shadow;
					z-index: 1;
				}
			}

			.preview-image {
				float: left;
				margin: 4px .6em .6em 0px;
				width: 100px;
				height: 100px;
			}

			.author {
				@extend %shadowed;

				float: right;
				display: inline-block;
				position: relative;
				background: $color-primary-dark;
				margin: 0px -16px .4em .4em;
				padding: .6em .6em .6em .8em;
				text-align: center;

				&:before {
					content: "";
					width: 0px;
					height: calc(2.4em + 4px);
					border: 1.2em solid transparent;
					position: absolute;
					bottom: calc(-1.2em - 4px);
					left: 0px;
					border-left-color: $color-content-background;
				}

				&:after {
					content: "";
					width: 1.2em;
					height: 0em;
					position: absolute;
					left: 0px;
					top: 100%;
					transform: skewY(45deg);
					transform-origin: bottom right;
					border-bottom: 4px solid $color-drop-shadow;
					z-index: 1;
				}

				.author-name {
					content: attr(data-author-name);
					display: block;
					color: $color-white;
					padding-left: .2em;
				}
			}

			.body {
				min-height: 112px;
				position: relative;
				z-index: 1;
			}

			footer {
				background: $color-tag-line;
				margin: 0px -1 / .8 * 1em -.6 / .8 * 1em;
				padding: .6em .4em;
				font-size: .8em;

			}

			p {
				margin-top: 0px;
				line-height: 1.4;

				&:last-child {
					margin-bottom: 0px;
				}
			}

			h2, h3, h4, h5, h6 {
				font-family: $font-header;
			}

			h2 {
				font-size: 2em;
				font-family: $font-header;
				border-bottom: 2px solid $color-text-secondary;
				padding-left: .6em;
			}

			h3 {
				font-size: 1.4em;
				margin-left: 1em;
			}

			.expand {
				text-align: right;

				& + footer {
					margin-top: .6 / .8 * 1em;
				}
			}

			.disqus {
				margin-top: 2em;
			}

			aside {
				position: absolute;
				left: calc(100% + 32px);
				width: 240px;
				background: $color-content-background;
				padding: 8px;
				border-bottom: 2px solid $color-drop-shadow;
				transform: translateY(-50%);

				.border {
					padding: 8px;
					border: 2px solid $color-primary;
				}

				&.toc {
					h4 {
						margin: 0px 0px 0px .4em;
						font-size: 1.2em;

						&:before {
							content: "\bb";
							margin-right: .1em;
						}
					}

					ul.zero-one {
						list-style-type: none;
						font-family: $font-header;
						padding: 0px;

						a {
							text-decoration: none;
							color: inherit;
						}

						li {
							display: flex;
							align-items: center;
							border-bottom: 1px solid $color-text-secondary;
							padding: 0px;


							&:before {
								color: $color-white;
								width: 1.6em;
								height: 1.6em;
								display: inline-flex;
								justify-content: center;
								align-items: center;
								margin-right: .6em;
								padding-top: .1em;
								padding-left: .05em;
							}
						}

						li.zero:before {
							content: "0";
							background-color: $color-text-main;
						}

						li.one:before {
							content: "1";
							background-color: $color-primary;
						}
					}
				}
			}
		}
	}

	&>aside {
		float: right;
		width: 240px;
		flex-basis: 240px;
		flex-grow: 0;
		margin-right: 1em;

		h1 a {
			color: #FFFFFF;
		}
		article {
			@extend %shadowed;

			padding: 1em 1em .4em;
			background: $color-content-background;
			margin-bottom: 1em;

			&:last {
				margin-bottom: 0px;
			}

			h1 {
				@extend %shadowed;

				font-weight: 300;
				background: $color-primary;
				color: $color-white;
				margin: -1 / 1.4 * 1em -1 / 1.4 * 1em .4em;
				font-size: 1.4em;
				padding: .2em .4em .2em .8em;
				position: relative;
				text-indent: -.4em;

				&:before {
					content: "";
					width: 0;
					height: 0;
					border: 6px solid $color-page-background;
					position: absolute;
					right: 0px;
					top: 0px;
					border-bottom-color: transparent;
					border-left-color: transparent;
				}
			}

			.tag {
				line-height: 28px;
				white-space: nowrap;
			}
		}
	}
}

.author-image {
	width: 72px;
	height: 72px;
	border-radius: 36px;
	border: 4px solid $color-text-main;

	&.small {
		width: 48px;
		height: 48px;
		border-radius: 24px;
		border: 48/72*4px solid $color-text-main;
	}
	
	&.large {
		width: 96;
		height: 96px;
		border-radius: 48px;
		border: 96/72*4px solid $color-text-main;
	}
}

a {
	color: $color-link;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}

	&.no-display {
		color: inherit;
		text-decoration: none;
	}

	&.no-line:hover {
		text-decoration: none;
	}
}

.tag {
	color: $color-white;
	padding: .1em .4em;
	text-decoration: none;
	border-radius: 4px;
	margin: 0px .4em 0px 0px;
}

button.pagination {
	background: $color-text-main;
	color: $color-white;
	border: none;
	width: 55px;
	height: 38px;
	outline: none;
	margin: auto auto;
	margin-bottom: 1em;
	position: relative;
	cursor: pointer;

	&.disabled {
		display: none;
	}

	&:after {
		content: "";
		border: .6em solid $color-page-background;
		border-top-color: transparent;
		position: absolute;
		bottom: 0px;
	}

	&.left {
		float: left;

		&:after {
			left: 0px;
			border-right-color: transparent;
		}
	}

	&.right {
		float: right;

		&:after {
			right: 0px;
			border-left-color: transparent;
		}
	}
}

input[type=text] {
	background: transparent;
	outline: none;
	border: none;
	border-bottom: 2px solid #B2B2B2;
	padding: 0px .2em;
	height: auto;
	font-size: .8em;
	transition: border-bottom-color 400ms;

	&:focus {
		border-bottom-color: $color-primary;
	}
}

dttw-icon.material-icons {
	font-size: 1em;
	vertical-align: bottom;
}

table {
	border-collapse: collapse;
	margin: 1em auto;

	&.row-divided {
		tr {
			th,
			td {
				padding: .4em 0px;
			}

			td:not(:last-child),
			th:not(:last-child) {
				padding-right: .4em;
			}

			&:not(:last-child) td {
				border-bottom: 1px solid $color-text-secondary;
			}
		}
	}
	
	&#profiles {
		td {
			padding: .8em 0px;
			padding-left: 1em;
			
			.bio {
				
			}
			
			.contact {
				display: flex;
				flex-direction: row;
			}
		}
	}
}

.author-bio {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 1em;

	.bio {
		flex-basis: 0px;
		flex-grow: 1;
		margin-left: .8em;
	}
}

dttw-code {
	display: flex;
	align-items: flex-end;
	flex-direction: column;

	header {
		display: inline-block;
		position: relative;
		background: $color-primary;
		color: $color-white;
		font-family: $font-header;
		font-size: 1.2em;
		padding: .1em 0px 0px 1em;

		&:before {
			content: "";
			width: 0px;
			height: calc(1.2em);
			border: .6em solid transparent;
			position: absolute;
			top: calc(-.6em);
			left: 0px;
			border-left-color: $color-content-background;
		}

		.copy {
			position: relative;
			top: -.25em;
			margin: 0px .4em;
			cursor: pointer;
			position: relative;

			&:after {
				content: "Copied";
				position: absolute;
				background: $color-text-main;
				color: $color-white;
				font-size: .8em;
				padding: .1em .4em;
				left: 50%;
				transform: translateX(-50%);
				transition: 600ms opacity, 600ms bottom;
				opacity: 0;
				bottom: 100%;
			}

			&.copied:after {
				transition: 0ms opacity, 0ms bottom;
				opacity: 1;
				bottom: 50%;
			}
		}

		.filename:empty {
			display: none;
		}

		.filename {
			padding: .1em .4em 0px;
			background: $color-primary-dark;
			margin-right: .2em;
		}
	}

	pre.hljs {
		white-space: pre-wrap;
		text-indent: 1em hanging each-line;
		margin-top: 0px;
		width: 100%;
	}
}

code {
	font-family: $font-mono;
	color: $color-primary;
}

h2.zero,
h2.one {
	display: flex;
	align-items: center;
	padding-left: 0px;

	&:before {
		font-family: $font-header;
		font-size: 1.4em;
		width: 1.4em;
		height: 1.4em;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		color: $color-white;
		margin-right: .6em;
		padding-top: .1em;
		padding-left: .05em;
	}
}

h2.zero {
	&:before {
		content: "0";
		background: $color-text-main;
	}
}

h2.one{
	&:before {
		content: "1";
		background: $color-primary;
	}
}

mark {
	background: $color-primary-vlight;
	background-blend-mode: darken;
	border-bottom: 2px dashed $color-primary;
	padding: 0px 2px;
}

// don't touch this

@import "media";
