@import "vars";
@import "mixins";
@import "shCoreMonokai";
@import "shThemeMonokai";

*,
*:before,
*:after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-family: "Exo 2", sans-serif;
	background: $color-page-background;
	color: $color-text-main;
	margin: 0px;
	padding: 0px;
}

body {
	margin: 0px;
	padding: 0px;
}

html:not(.admin) header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin: 0px 0px 1.4em;
	padding-top: 1em;

	&>* {
		flex-grow: 1;
	}

	&>a {
		display: flex;
		justify-content: flex-end;
		border-bottom: $wire-width solid $color-primary;
		position: relative;
		padding-right: 1em;
		height: 6em;

		h1 {
			font-family: Khand, sans-serif;
			text-transform: uppercase;
			display: flex;
			justify-content: flex-end;
			align-items: center;
			font-size: 4em;
			margin: -16px 0px;
			width: 6em;

			.down,
			.wire {
				padding-top: .2em;
			}

			.to-the {
				font-size: .6em;
				border-top: .15em solid currentcolor;
				border-bottom: .15em solid currentcolor;
				margin: 0px .2em;
				line-height: 1;
				padding-top: .1em;
				margin-top: .2em;
			}
		}

		&:after {
			content: "";
			width: 0px;
			height: 2em;
			position: absolute;
			right: 0px;
			bottom: -$wire-width;
			transform: rotate(45deg);
			transform-origin: bottom right;
			border-right: $wire-width solid $color-primary;
		}
	}

	nav {
		margin-left: calc(1.414em - #{set-units(sqrt($wire-width*$wire-width / 2), $wire-width)});
		padding-left: 4em;
		flex-shrink: 1;
		width: calc(80ch + 256px - 25em);
		display: flex;
		flex-direction: row;
		text-transform: uppercase;
		border-bottom: $wire-width solid $color-primary;
		height: calc(3.172em + #{2 * ($wire-width - set-units(sqrt($wire-width*$wire-width / 2), $wire-width))});
		align-items: flex-end;

		a {
			@extend .no-display;
			@extend .no-line;

			.nav-item {
				font-family: Khand, sans-serif;
				padding-right: 1em;
				font-size: 1.4em;
			}
		}
	}
}

content-row {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: center;

	main {
		max-width: 80ch;
		margin: 0px 1em;
		flex-basis: 0px;
		flex-grow: 1;

		.tagged {
			font-size: 30px;
			font-weight: bold;
			margin-bottom: 10px;
		}
		
		article {
			@extend %shadowed;
			
			padding: 1em 1em .6em;
			background: $color-content-background;
			margin-bottom: 2em;

			&:last {
				margin-bottom: 0px;
			}

			&>h1 {
				@extend %shadowed;

				font-weight: 300;
				background: $color-primary;
				margin: -1 / 1.6 * 1em -1 / 1.6 * 1em 0px;
				font-size: 1.6em;
				padding: .2em .4em .2em 1em;
				position: relative;
				text-indent: -.4em;
				color: $color-white;

				&:before {
					content: "";
					width: 0;
					height: 0;
					border: 8px solid $color-page-background;
					position: absolute;
					right: 0px;
					top: 0px;
					border-bottom-color: transparent;
					border-left-color: transparent;
				}

				&.large {
					height: 88px;
					vertical-align: baseline;

					div.author {
						position: absolute;
						top: 8px;
						right: 8px;
						margin: 0;
						size: 14px;
					}

					.subtext {
						display: block;
						width: calc(100% - 80px);
						height: 100%;
						font-size: 1.28em;
					}
				}
			}

			time {
				@extend %shadowed;

				display: inline-block;
				margin: 0px -1 / .8 * 1em .6em;
				padding: .6em 1.6em 0em;
				font-size: .8em;
				background: $color-primary-dark;
				font-weight: 400;
				color: $color-white;
				height: 2.4em;
				position: relative;

				&:before {
					content: "";
					width: 0px;
					height: calc(2.4em + 4px);
					border: 1.2em solid transparent;
					position: absolute;
					bottom: calc(-1.2em - 4px);
					right: 0px;
					border-right-color: $color-content-background;
				}

				&:after {
					content: "";
					width: 1.2em;
					height: 0em;
					position: absolute;
					right: 0px;
					top: 100%;
					transform: skewY(-45deg);
					transform-origin: bottom left;
					border-bottom: 4px solid $color-drop-shadow;
					z-index: 1;
				}
			}

			.preview-image {
				float: left;
				margin: 4px .6em .6em 0px;
				width: 100px;
				height: 100px;
			}

			.author {
				@extend %shadowed;

				float: right;
				display: inline-block;
				position: relative;
				background: $color-primary-dark;
				margin: 0px -16px .4em .4em;
				padding: .6em .6em .6em .8em;
				text-align: center;

				&:before {
					content: "";
					width: 0px;
					height: calc(2.4em + 4px);
					border: 1.2em solid transparent;
					position: absolute;
					bottom: calc(-1.2em - 4px);
					left: 0px;
					border-left-color: $color-content-background;
				}

				&:after {
					content: "";
					width: 1.2em;
					height: 0em;
					position: absolute;
					left: 0px;
					top: 100%;
					transform: skewY(45deg);
					transform-origin: bottom right;
					border-bottom: 4px solid $color-drop-shadow;
					z-index: 1;
				}

				.author-name {
					content: attr(data-author-name);
					display: block;
					color: $color-white;
				}
			}

			.body {
				min-height: 112px;
				position: relative;
				z-index: 1;
			}
			
			footer {
				background: $color-tag-line;
				margin: 0px -1 / .8 * 1em -.6 / .8 * 1em;
				padding: .6em .4em;
				font-size: .8em;

			}

			p {
				margin-top: 0px;

				&:last {
					margin-bottom: 0px;
				}
			}

			.expand {
				text-align: right;
				
				& + footer {
					margin-top: .6 / .8 * 1em;
				}
			}

			.disqus {
				margin-top: 2em;
			}
		}
	}

	aside {
		float: right;
		width: 240px;
		flex-basis: 240px;
		flex-grow: 0;
		margin-right: 1em;

		article {
			@extend %shadowed;
			
			padding: 1em 1em .4em;
			background: $color-content-background;
			margin-bottom: 1em;

			&:last {
				margin-bottom: 0px;
			}

			h1 {
				@extend %shadowed;

				font-weight: 300;
				background: $color-primary;
				color: $color-white;
				margin: -1 / 1.4 * 1em -1 / 1.4 * 1em .4em;
				font-size: 1.4em;
				padding: .2em .4em .2em .8em;
				position: relative;
				text-indent: -.4em;

				&:before {
					content: "";
					width: 0;
					height: 0;
					border: 6px solid $color-page-background;
					position: absolute;
					right: 0px;
					top: 0px;
					border-bottom-color: transparent;
					border-left-color: transparent;
				}
			}

			.tag {
				line-height: 28px;
				white-space: nowrap;
			}
		}
	}
}

.author-image {
	width: 72px;
	height: 72px;
	border-radius: 36px;
	border: 4px solid $color-text-main;

	&.small {
		width: 48px;
		height: 48px;
		border-radius: 24px;
		border: 3px solid $color-text-main;
	}
}

a {
	color: $color-link;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}

	&.no-display {
		color: inherit;
		text-decoration: none;
	}

	&.no-line:hover {
		text-decoration: none;
	}
}

.tag {
	color: $color-white;
	padding: .1em .4em;
	text-decoration: none;
	border-radius: 4px;
	margin: 0px .4em 0px 0px;
}

button.pagination {
	background: $color-text-main;
	color: $color-white;
	border: none;
	width: 55px;
	height: 38px;
	outline: none;
	margin: auto auto;
	margin-bottom: 1em;
	position: relative;
	cursor: pointer;

	&.disabled {
		display: none;
	}

	&:after {
		content: "";
		border: .6em solid $color-page-background;
		border-top-color: transparent;
		position: absolute;
		bottom: 0px;
	}

	&.left {
		float: left;

		&:after {
			left: 0px;
			border-right-color: transparent;
		}
	}

	&.right {
		float: right;

		&:after {
			right: 0px;
			border-left-color: transparent;
		}
	}
}

input[type=text] {
	background: transparent;
	outline: none;
	border: none;
	border-bottom: 2px solid #B2B2B2;
	padding: 0px .2em;
	height: auto;
	font-size: .8em;
	transition: border-bottom-color 400ms;

	&:focus {
		border-bottom-color: $color-primary;
	}
}

dttw-icon.material-icons {
	font-size: 1em;
	vertical-align: bottom;
}

// don't touch this

@import "media";