$color-white: #ffffff;
$color-black: #000000;

$color-content-background: #f2f2f2;
$color-page-background: #e8e8e8;
$color-tag-line: #d6d6d6;
$color-dark-overlay: #444444;

$color-text-main: #383838;

$color-primary: #E53935;
$color-primary-dark: #D32F2F;

$color-link: #2189f1;



$wire-width: 8px;



$width-small: 100ch;