$color-white: #ffffff;
$color-black: #000000;

$color-content-background: #f2f2f2;
$color-page-background: #e8e8e8;
$color-tag-line: #d6d6d6;
$color-dark-overlay: #444444;

$color-drop-shadow: #c2c2c2;
$color-drop-shadow-dark: #242424;

$color-divider: #e6e6e6;
$color-divider-dark: #383838;

$color-text-main: #383838;
$color-text-secondary: #B1B1B1;

$color-primary-vlight: #FFDCE0;
$color-primary: #E53935;
$color-primary-dark: #D32F2F;
$color-primary-vdark: #B71C1C;

$color-link: #2189f1;



$wire-width: 8px;



$width-small: 125ch;


$font-header: Khand, sans-serif;
$font-body: "Exo 2", sans-serif;
$font-mono: Inconsolata, monospace;