$color-white: #ffffff;
$color-black: #000000;

$color-content-background: #f2f2f2;
$color-page-background: #e8e8e8;
$color-tag-line: #d6d6d6;
$color-dark-overlay: #444444;

$color-text-main: #383838;

$color-primary: #f7af1e;
$color-primary-dark: #de9d1b;

$color-accent: #2189f1;
$color-accent-dark: #1566d2;