<strong>Down to the Wire</strong> is a collaborative project hosted by a group of students across the country. Since we share many common interests, we decided to merge all of our individual blogs and technical writings into a single website, where all of us can contribute. Since each author has different interests and personal projects, topics range from hardware to software to security.  
<div class="profiles">
<table class="profile">
{{#each (profiles)}}
{{#if this.bio}}
	<tr>
		<td><a href="/author/{{this.handle}}"><img class="author-image" src="/images/{{#if this.image}}{{this.image}}{{else}}default.png{{/if}}"/></a></td>
		<td><p class="bio">{{this.bio}}</p></td>
	</tr>
{{/if}}
{{/each}}
</table>
</div>
