<header>
	<a href="/" class="no-display">
		<h1>
			<span class="down">Down</span>
			<span class="to-the">to the</span>
			<span class="wire">Wire</span>
		</h1>
	</a>
	<nav>
		<a href="/"><div class="nav-item">Home</div></a>
		<a href="/about"><div class="nav-item">About</div></a>
		<a href="/contact"><div class="nav-item">Contact</div></a>
	</nav>
</header>
