<header>
	<a href="/" class="no-display">
		<svg id="js">
			<use xlink:href="/images/js.svg#js-logo"></use>
		</svg>
	</a>
	<a href="/" class="no-display">
		<span id="by-design">by Design</span>
	</a>
</header>
