<header>
	<a href="/" class="no-display">
		<h1>
			<span class="down">Down</span>
			<span class="to-the">to the</span>
			<span class="wire">Wire</span>
		</h1>
	</a>
	<nav>
		{{#each categories}}
			<a href="/category/{{this}}">
				<div class="nav-item">{{this}}</div>
			</a>
		{{/each}}
	</nav>
</header>
