{{> head.hbs}}
<body>
	<h1>Please <a href="/google/login">log in</a> to access this page.</h1>
	<h3>If you encountered this page by accident, you may hit the back arrow. Otherwise, you will be automatically redirected in a few seconds</h3>
	<script>
		setTimeout(function() {
			window.location.href="/google/login"
		}, 4000)
	</script>
</body>

