<html>
	{{#if about}}
		{{set this "title" "About Us"}}
	{{/if}}
	{{#if contact}}
		{{set this "title" "Contact Us"}}
	{{/if}}
	{{#if fourohfour}}
		{{set this "title" "Page Not Found"}}
	{{/if}}
	{{> head.hbs}}
	<body>
		{{> header.hbs}}
		<content-row>
			<main>
				<div class="single">
				{{#if about}}
					{{> about.hbs}}
				{{/if}}
				{{#if contact}}
					{{> contact.hbs}}
				{{/if}}
				{{#if fourohfour}}
					{{> not-found.hbs}}
				{{/if}}
				</div>
			</main>
			{{> sidebar.hbs}}
		</content-row>
	</body>
</html>
